/* --- INIZIO STELLE --- */
.my-line-star {
  text-align: center;
}
.light {
  color: white;
}
.dark {
  color: black;
}
.the-line-star {
  line-height: 35px;
  font-size: 1.2em;
}
.my-line {
  width: 120px;
  display: inline-block;
  vertical-align: middle;
}
.darkmode div {
  border: 1px solid black;
  color: black;
  color: white;
}
.lightmode div {
  border: 1px solid white;
  color: white;
  } /* --- FINE STELLE --- */

body {
  font-family: 'Montserrat', sans-serif;
}

header {
  text-transform: uppercase;
  text-align: center;
  color: white;
}

.navbar {
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  color: white;
}

nav div.my-bg {
  background-color: #2C3E50;
}

section.my-bg{
  padding-top: 60px;
}

section.my-bg,
.my-section-2  {
  background-color: #1ABC9C;
}
img {
  height: 200px;
  /* max-width: 100%; */
}

img:hover

h1 {
  margin-bottom: 0;
}


.my-section-1 {
  text-align: center;
}
.my-section-1 img:hover {
  background-color: #1ABC9C;

}

.my-section-2 {
  color: white;
  padding: 50px;
}
h2 {
  text-transform: uppercase;
}

main img {
  border-radius: 6px;
  margin: 20px 0;
}

.my-container {
  width: 70%;
  margin: 0 auto;
}

div.align {
  width: 100%;
  text-align: center;
}
.my-fck-btt {
  line-height: 55px;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid white;
  color: white;
}
.my-fck-btt i {
  padding-right: 6px;
}
