body {
  font-family: 'Montserrat', sans-serif;
}

/* --- INIZIO STELLE --- */
.my-line-star {
  text-align: center;
}
.light {
  color: white;
}
.dark {
  color: black;
}
.the-line-star {
  line-height: 35px;
  font-size: 1.2em;
}
.my-line {
  width: 120px;
  display: inline-block;
  vertical-align: middle;
}
.darkmode div {
  border: 1px solid black;
  color: black;
  color: white;
}
.lightmode div {
  border: 1px solid white;
  color: white;
} /* --- FINE STELLE --- */

/* <!-- NAVBAR --> */
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: white;
    background-color: inherit;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: white;
    background-color: inherit;
}

nav div.my-bg {
  background-color: #2C3E50;
}

/* <!-- JUMBO --> */

/* <!-- SECTION 1 --> */
section.my-bg{
  padding-top: 60px;
}

section.my-bg,
.my-section-2  {
  background-color: #1ABC9C;
}
.my-bg img {
  height: 200px;
  /* max-width: 100%; */
  /* width: 80%; */
}

/* <!-- SECTION 2 --> */


/* --- IL BOTTONE DI SECTION 2 --- */
div.align {
  text-align: center;
}
.my-fck-btt {
  line-height: 100px;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid white;
  color: white;
}
.my-fck-btt i {
  padding-right: 10px;
}
.my-fck-btt:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
  text-decoration: none;
}/* --- FINE DEL BOTTONE DI SECTION 2 --- */

header {
  text-transform: uppercase;
  text-align: center;
  color: white;
}

.navbar {
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
}







.my-section-1 img {
  height: 200px;
}

img:hover

h1 {
  margin-bottom: 0;
}


.my-section-1 {
  text-align: center;
}
.my-section-1 img:hover {
  background-color: #1ABC9C;

}

.my-section-2 {
  color: white;
  padding: 50px;
}
h2 {
  text-transform: uppercase;
}

main img {
  border-radius: 6px;
  margin: 20px 0;
}

.my-container {
  width: 70%;
  margin: 0 auto;
}

@media all and (max-width: 767px) { /*EXTRASMALL*/

}

@media all and (min-width: 768px) and (max-width: 991px) { /*SMALL*/

}

@media all and (min-width: 992px) and (max-width: 1199px) { /*MEDIUM*/

}

@media all and (min-width: 1200px) { /*LARGE*/

}
